<div class="z">
  <header class="c">
    <div class="container" style="padding:40px ;">
      <img class="logoClass2" src="/assets/image/ApnaPharmacyLogo.jpeg">
    
      <div class="row align-items-center">
        <div class="order-lg-center col-lg-6 col-sm-3 col-3" id="navBrand">
          <a href="http://localhost:4200" class="navbar-brand" style="font-size:300px ;"
            style="font-family: sans-serif; text-align: right;">
            <h2>APNA PHARMACY</h2>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="box4">
      <div class="box3"><br>
          <!-- <div><img src="/assets/image/0.ico" ></div><br> -->
          <div><img src="/assets/image/1.ico" height="20px" >   <a routerLink="/app-header-loggedin" routerLinkActive="active">Home</a></div><br>
          <!-- <div><img src="/assets/image/2.ico" height="20px" >   <a routerLink="/profile" routerLinkActive="active">My Profile</a></div><br> -->
          <div><img src="/assets/image/3.ico" height="20px" >   <a routerLink="/view-product" routerLinkActive="active" >View Product</a></div><br>
          <div><img src="/assets/image/4.ico" height="20px" >   <a routerLink="/add-product" routerLinkActive="active">Add Product</a></div><br>
          <!-- <div><img src="/assets/image/6.ico" height="20px" >   <a routerLink="/order-history" routerLinkActive="active" >Order & History</a></div><br> -->
          <div><img src="/assets/image/7.ico" height="20px" >   <a routerLink="/app-header-loggedin" routerLinkActive="active" >LogOut</a></div><br>
      </div>
      <div class="box">
          <div class="box5">
            <div class="f">
              <h2>View Product</h2>
            </div><br>
            <div class="container-fluid" >
              <section>
                <div class="row">
                  <div class="col-xl-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                          <div>
                            <h2>Product Name</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                          <div>
                            <h2>Price</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                          <div>
                            <h2>Brand</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-between px-md-1">
                          <div>
                            <h2>Category</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngFor="let x of productArray.slice().reverse()">
                  <div class="row" id="box" >
                    <div class="col-xl-3 col-sm-6 col-12 mb-4" style="margin-top:0.5%;">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between px-md-1" style="height: 80px;">
                            <div>
                              <h2>{{x.productName}}</h2>
                              <!-- <app-image [image]="x.productImage"></app-image> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-4" style="margin-top:0.5%;">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between px-md-1" style="height: 80px;">
                            <div style="margin-top: 10%; margin-left: 40%;">
                              <h2>{{x.productPrice}}</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-4" style="margin-top:0.5%;">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between px-md-1" style="height: 80px;">
                            <div>
                              <h2>{{x.productBrand}}</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12 mb-4" style="margin-top:0.5%;">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between px-md-1" style="height: 80px;">
                            <div>
                              <h2>{{x.productCategory}}</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="button" (click)="deleteProduct(x.productId)">Delete Product</button>
                  </div>
                </div>
              </section>
            </div>
          </div>
      </div>
  </div>
  <app-f-all></app-f-all>
</div>




