<div class="container-fluid" style="display: flex;">
    <mat-card class="mat-elevation-z7">
        <h3 style="margin-left: 2%;margin-top: 1%;"><b> Recommendation Of </b> <u style="text-decoration: none;color: red;">Shops</u></h3>
        <mat-card-header>
            <mat-card-title>DenchMedPharma</mat-card-title>
        </mat-card-header>
        <img mat-card-image
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjpu8uhLohPc654dRyN4i7lBHPcHiY4Y4vWFU7by7N&s"
            height="200px">
        <mat-card-actions>
            <button mat-raised-button color="accent">LocateUs</button>

        </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z7">
        <mat-card-header>
            <mat-card-title>MediFrat Pharma</mat-card-title>
        </mat-card-header>
        <img mat-card-image
            src="https://images.unsplash.com/photo-1642055514517-7b52288890ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBoYXJtYWN5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            height="200px">
        <mat-card-actions>
            <button mat-raised-button color="accent">LocateUs</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z7">
        <mat-card-header>
            <mat-card-title>NirmalPharmacy</mat-card-title>
        </mat-card-header>
        <img mat-card-image
            src="https://content.jdmagicbox.com/comp/delhi/m1/011pxx11.xx11.190401175233.v5m1/catalogue/nirmal-pharmacy-delhi-1ezxmvnh1b.jpg?clr=57ff"
            height="200px">
        <mat-card-actions>
            <button mat-raised-button color="accent">LocateUs</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z7">
        <mat-card-header>
            <mat-card-title>Apollo Pharmacy</mat-card-title>
        </mat-card-header>
        <img mat-card-image
            src="https://bl-i.thgim.com/public/incoming/xtohv1/article65909459.ece/alternates/FREE_1200/apollopharmacy_17.jpg"
            height="200px">
        <mat-card-actions>
            <button mat-raised-button color="accent">LocateUs</button>
        </mat-card-actions>
    </mat-card>
</div>

