<header class="section-header">
    <section class="header-main" style="background-color:aliceblue;">
      <div class="container" style="padding:40px ;">
        <a routerLink = "/" routerActiveLink = "active">
        <img class="logoClass2" src="/assets/image/ApnaPharmacyLogo.jpeg">
      </a>
        <div class="row align-items-center">
          <div class="order-lg-center col-lg-6 col-sm-3 col-3" id="navBrand">
            <a href="http://localhost:4200" class="navbar-brand" style="font-size:300px ;"
              style="font-family: sans-serif; text-align: right;">
              <h2>APNA PHARMACY</h2>
            </a>
          </div>
          
          <div class="container" id="Features">
  
         
          
  
          </div> 
          <div class="col-lg-5 col-md-12 col-12">
            <form action="#" class="">
              <div class="input-group">
  
              </div>
            </form>
          </div>
  
        </div> 
      </div> 
    </section> 
   
  </header>
