

<footer class="footer_area section_padding_130_0" style="background-color: aliceblue;">
    <div class="container">
      <div class="row">
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Footer Logo-->
            <div class="footer-logo mb-3"></div>
            <p>Apna Pharmacy is your single go to place to find all type of medicines in a convenient manner</p>
            <!-- Copywrite Text-->
            <div class="copywrite-text mb-5">
              <p class="mb-0">© 2022-2023 ApnaPharmacy <br> All rights reserved. </p>
            </div>
            <!-- Footer Social Area-->
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h3 class="widget-title">About</h3>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Corporate Sale</a></li>
                <li><a href="#">Terms &amp; Policy</a></li>
                <li><a href="#">Community</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h3 class="widget-title">Support</h3>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="#">Help</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Term &amp; Conditions</a></li>
                <li><a href="#">Help &amp; Support</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget-->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget section_padding_0_130">
            <!-- Widget Title-->
            <h3 class="widget-title">Contact</h3>
            <!-- Footer Menu-->
            <div class="footer_menu">
              <ul>
                <li><a href="#">Call Centre</a></li>
                <li><a href="#">Email Us</a></li>
                <li><a href="#">Term &amp; Conditions</a></li>
                <li><a href="#">Help Center</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
