<!-- <article>
    <div class="container bootdey">
        <div class="panel panel-default panel-order">
            <div class="f">
                <h2>Order & history</h2>
            </div><br>
            <div class="panel-body">
                
                    <div class="row">
                        <div class="col-md-1"><img src="../assets/image/paracetamol.webp" class="media-object img-thumbnail" /></div>
                        <div class="col-md-11">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right"><label class="label label-danger">rejected</label></div>
                                    <span><strong>Paracetamol</strong></span> <span class="label label-info"></span><br />
                                    Quantity : 2, cost: $323.13 <br />
                                    <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#"
                                                    title="View"></a>
                                                <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#"
                                                    title="Danger"></a>
                                                <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#"
                                                    title="Danger"></a>
                                </div>
                                <div class="col-md-12">order made on: 05/31/2014 by <a href="#">umang </a></div>
                            </div>
                        </div>
                    </div><hr>
                    <div class="row">
                        <div class="col-md-1"><img src="../assets/image/volini.jpg" style="height: 80px;" class="media-object img-thumbnail" />
                        </div>
                        <div class="col-md-11">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-right"><label class="label label-info">pending</label></div>
                                    <span><strong>Volini spray</strong></span> <span class="label label-info"></span><br />
                                    Quantity : 12, cost: $12623.13<br />
                                    <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#"
                                                    title="View"></a>
                                                <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#"
                                                    title="Danger"></a>
                                                <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#"
                                                    title="Danger"></a>
                                </div>
                                <div class="col-md-12">order made on: 06/12/2014 by <a href="#">pankaj </a></div>
                            </div>
                        </div>
                    </div><hr>
                </div><hr>
                <div class="row">
                    <div class="col-md-1"><img src="../assets/image/Azythromicine.webp"
                            class="media-object img-thumbnail" /></div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right"><label class="label label-success">Approved</label></div>
                                <span><strong>Azythromicyn</strong></span> <span class="label label-info"></span><br />
                                Quantity : 4, cost: $523.13<br />
                                <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#"
                                    title="View"></a>
                                <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#"
                                    title="Danger"></a>
                                <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#"
                                    title="Danger"></a>
                            </div>
                            <div class="col-md-12">order made on: 06/20/2014 by <a href="#">pankaj</a></div>
                        </div>
                    </div>
                </div><hr>
                <div class="row">
                    <div class="col-md-1"><img src="../assets/image/reckweg.webp" class="media-object img-thumbnail" /></div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right"><label class="label label-info">pending</label></div>
                                <span><strong>Dr. reckweg R9</strong></span> <span
                                    class="label label-info"></span><br />
                                Quantity : 4, cost: $523.13<br />
                                <a data-placement="top" class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#"
                                    title="View"></a>
                                <a data-placement="top" class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="#"
                                    title="Danger"></a>
                                <a data-placement="top" class="btn btn-info btn-xs glyphicon glyphicon-usd" href="#"
                                    title="Danger"></a>
                            </div>
                            <div class="col-md-12">order made on: 06/20/2014 by <a href="#">umang</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>  -->


<!-- <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card style="display: flex; flex-direction:row">
        
            <img src="../assets/image/paracetamol.webp" height="80px">
            Rejected <br>
            <b> Paracetamol </b><br>
            Quantity : 2, cost: $323.13 <br>
            order made on: 05/31/2014 by umang
        
        </mat-card>
        
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
        <mat-card>
            <img src="../assets/image/Azythromicine.webp" height="80px">
        </mat-card>
        <mat-card>
            Approved <br>
            <b> Azythromicyn </b><br>
            Quantity : 4, cost: $523.13 <br>
            order made on: 06/20/2014 by pankaj
        </mat-card>
    </div>
</div> -->



<!-- <div class="row" id="content">
    <mat-card class="mat-elevation-z6, col-sm-3">
        <mat-card-header>
            <mat-card-title>Paracetamol</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/image/paracetamol.webp" height="150px">
        <mat-card-content>
            Rejected <br>
            Quantity : 2, cost: $323.13 <br>
            Order made on: 05/31/2014 by Umang   
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z6, col-sm-3" style="margin-left:4% ;">
        <mat-card-header>
            <mat-card-title>Azythromicyn</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/image/Azythromicine.webp" height="150px">
        <mat-card-content>
            Rejected <br>
            Quantity : 2, cost: $323.13 <br>
            Order made on: 05/31/2014 by Umang   
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z6, col-sm-3" style="margin-left:4% ;">
        <mat-card-header>
            <mat-card-title>Dr. reckweg R9</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/image/reckweg.webp" height="150px">
        <mat-card-content>
            Pending <br>
            Quantity : 4, cost: $523.13 <br>
            Order made on: 06/20/2014 by Umang   
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z6, col-sm-3" style="margin-left:4% ;">
        <mat-card-header>
            <mat-card-title>Volini spray</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../assets/image/volini-pain.webp" height="150px" >
        <mat-card-content>
            Pending <br>
            Quantity : 14, cost: $12623.13 <br>
            Order made on: 06/20/2014 by Pankaj   
        </mat-card-content>
    </mat-card>
</div> -->
