
<app-h-all></app-h-all>

<!--Search bar-->
<mat-card class="offers" style="text-align:left;">
    <h2 style="height: 10px;">All orders</h2>
    
    
    <form class="d-flex" role="search" style="width: 30%;margin-left: 1010px;margin-top: 20px;">
        <input class="form-control me-2" type="search" placeholder="Search in orders" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</mat-card>


<mat-card class="whole-card-bg">            <!--For whole page purpose-->


    <mat-card  class="mat-elevation-z3 mb-2">
        
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Deliverd</mat-card-title>
            <mat-card-subtitle>On Tue, 14 Jun 2022</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card class="inside-card-bg">
            <mat-card-header>
                <div class="row">
                    <div class="col-3">
                        <img src="https://newassets.apollo247.com/pub/media/catalog/product/cache/resized/100x/4/9/490020520_2.jpg" width="100px;" height="100px;">
                    </div>
                    <div class="col-9 mt-2"  >
                        <mat-card-title>Dabur Chywanprash awaleha Large, 950gm</mat-card-title>
                        <mat-card-subtitle>On Tue, 14 Jun 2022</mat-card-subtitle>
                        <mat-card-subtitle>Quantity: 1</mat-card-subtitle>
                    </div>
                  </div>
                </mat-card-header>
                <mat-divider class="divider-1 mt-2 "></mat-divider>
                <br>
                 <mat-card-content>*  Exchange/Return window closed</mat-card-content>
                 <mat-divider ></mat-divider>
    
                 <div class="rating">
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                 </div>
              
            </mat-card>     
            
        </mat-card>
    
    
    <!--Second Product show-->
    
    <mat-card  class="mat-elevation-z3 mb-2">
        
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Deliverd</mat-card-title>
            <mat-card-subtitle>On Mon, 13 Feb 2022</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card class="inside-card-bg">
            <mat-card-header>
                <div class="row">
                    <div class="col-3">
                        <img src="https://newassets.apollo247.com/pub/media/catalog/product/cache/resized/100x/p/a/pan1166_1_1_1.jpg" width="100px;" height="100px;">
                    </div>
                    <div class="col-9 mt-2"  >
                        <mat-card-title>Zandu Pachrista Ayurvedic Digestive Syrup</mat-card-title>
                        <mat-card-subtitle>On Mon, 13 Feb 2022</mat-card-subtitle>
                        <mat-card-subtitle>Quantity: 2</mat-card-subtitle>
                    </div>
                  </div>
                </mat-card-header>
                <mat-divider class="divider-1 mt-2 "></mat-divider>
                <br>
                 <mat-card-content>*  Exchange/Return window closed</mat-card-content>
                 <mat-divider ></mat-divider>
    
                 
                 <div class="rating">
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                 </div>
               
            </mat-card>     
            
        </mat-card>
    
    <!--Card for show third product-->
    <mat-card  class="mat-elevation-z3 mb-2">
        
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Deliverd</mat-card-title>
            <mat-card-subtitle>On Wed, 15 Sep 2022</mat-card-subtitle>
        </mat-card-header>
    
        <mat-card class="inside-card-bg">
            <mat-card-header>
                <div class="row">
                    <div class="col-3">
                        <img src="https://newassets.apollo247.com/pub/media/catalog/product/cache/resized/100x/b/1/b12.jpg" width="100px;" height="100px;">
                    </div>
                    <div class="col-9 mt-2"  >
                        <mat-card-title>Himalayan Organics Plant Based Vitamin </mat-card-title>
                        <mat-card-subtitle>On Wed, 15 Sep 2022</mat-card-subtitle>
                        <mat-card-subtitle>Quantity: 1</mat-card-subtitle>
                    </div>
                  </div>
                </mat-card-header>
                <mat-divider class="divider-1 mt-2 "></mat-divider>
                <br>
                 <mat-card-content>*  Exchange/Return window closed</mat-card-content>
                 <mat-divider ></mat-divider>
    
                 
                 <div class="rating ">
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                    <mat-icon class="active">star</mat-icon>
                 </div>
               
            </mat-card>     
            
        </mat-card>
    
    
    
    </mat-card>  
        
      <!--For whole page purpose-->

<app-f-all></app-f-all>