
.whole-card-bg{
    background-color: rgb(228, 236, 241);
    padding: 20px;
}



.header-image {
    background-image: url("/assets/img-pr/apna-pharmacy.jpg");
    background-size: cover;
  }

  .inside-card-bg{
    background-color: rgb(230, 231, 231);
  }

  .mat-divider{
    border-top-color: white;
  }

  .col-2{
    padding: 0px;
  }

  .offers {
    
    
    height: 100px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwpsyluJKA7Q557c4jRCyqxlTUbP3Km0R4IBhBF3plBQ&s");
    
}


  .active{
    color:orange;
  }
